@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  max-width: 1440px;
  min-width: 375px;
  width: 100vw;
  height: 100vh;
  background-color: hsl(217, 54%, 11%);
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.nft {
  border-radius: 20px;
  max-width: 350px;
  padding: 20px;
  font-family: 'Outfit' ;
  font-size: 18px;
  color: white;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0px 15px 10px 10px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 15px 10px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 15px 10px 10px rgba(0,0,0,0.75);
}

.nft-header {
  display: flex;
  width: 100%;
  height: 45vh;
  background-image: url(https://github.com/vazbaumax/nft-preview-card-component-main/blob/master/images/image-equilibrium.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  box-shadow: 3px 3px 10px 2px hsl(217, 54%, 11%);
  -webkit-box-shadow: 3px 3px 10px 2px hsl(217, 54%, 11%);
  -moz-box-shadow: 3px 3px 10px 2px hsl(217, 54%, 11%);
  justify-content: center;
  align-items: center;
}

.nft-header-view {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.nft-header-view img {
  visibility: hidden;
  height: 50px;
}

.nft-header-view:hover {
  background-color: hsla(178, 100%, 50%, .5);
  border-radius: 7px;
}

.nft-header-view:hover img {
  visibility: visible;
}

.nft-body {
  margin-top: 10px;
}

.nft-body-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 600;
  display: inline-block;
}

.nft-body-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.nft-body-subtitle {
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 15px;

}

.nft-body-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.nft-body-cripto {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.nft-body-clock {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 15px;
}

.nft-footer {
  margin-top: 25px;
  border-top: 1px solid hsl(215, 32%, 27%);
  display: flex;
}

.nft-footer-avatar {
  margin-top: 20px;
  width: 30px;
  border: solid 1px hsl(0, 0%, 100%) ;
  border-radius: 50%;
}

.nft-footer-author {
  margin-top: 25px;
  margin-left: 15px;
  font-weight: 300;
  font-size: 15px;
}

.bold {
  font-weight: 600;
}

.bold:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
